@mixin df($j:normal, $a:normal, $fl:row, $g:0) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-flow: $fl;
  gap: $g;
}

*,*::after, *::before {
  padding: 0;
  margin: 0;
  font-family: 'outfit';
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #110505;
  @include df(center, center, column, 0);
  font-size: 18px;
  color: #fff;
}

main {
  width: min(600px, 90%);
  @include df(center, center, column, 20px);
  counter-reset: section;
}

h2 {
  counter-increment: section;
  &::before {
    content: counter(section);
    display: inline-block;
    background-color: #e58a06;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.carousel {
  width: 100%;
  height: 400px;
  overflow-x: auto;
  position: relative;
  @include df(normal, center, row, 10px);
  scroll-behavior: smooth;
  anchor-name: --carousel, --forMarkers;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;

  &::scroll-marker-group {
    @include df(center, center, row, 10px);
    position-anchor: --forMarkers;
    position-area: bottom center;
    width: 100%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  &::scroll-button(right), &::scroll-button(left) {
    content:'→';
    border: none;
    color: #110505;
    background-color: #e58a06;
    font-size: 2rem;
    font-family: 'outfit';
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .3s;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
    @include df(center, center);
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &::scroll-button(left) {
    content:'←';
    position-area: left center;
    translate: 50%;
  }
  >* {
    position: relative;
    & img {
      border-radius: 20px;
      height: 100%;
      display: block;
    }
    & figcaption {
      position: absolute;
      height: 100%;
      bottom: 0;
      width: 100%;
      background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
      color: #fff;
      padding: 10px;
      text-align: center;
      font-size: 1.2rem;
      @include df(end, center, column, 10px);
    }
    scroll-snap-align: start;
    &::scroll-marker {
      content: '';
      height: 1rem;
      width: 1rem;
      background-color: #aaa;
      border-radius: 50%;
      cursor: pointer;
      &:target-current {
        background-color: #e58a06;
      }
    }
  }
}